* {
  padding: 0;
  margin: 0;
}

.to-do-list {
  position: relative;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 300px;
  background-color: #c5c5c5;
  border: 1px solid grey;
}

.control-area {
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.toggle, .refresh {
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: #00a7e6;
  color: white;
}
