* {
  box-sizing: border-box;
}

.list-area {
  padding: 0 20px 20px 20px;
  width: 300px;
}

.add {
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: #5b5b5b;
  color: white;
}

.list-content {
  margin-top: 20px;
}

.single-list {
  list-style: none;
  width: 260px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid grey;
  vertical-align: middle;
}